/*styling.css*/
body {
    background: url(images/time.jpg) center center fixed;
    background-size: cover;
    color: #fff;
}

/*title*/
#title{
    font-size:5vw;
}

/*Lap*/
#lap{;
    font-size: 4vw;
    text-align: center;
    
}

/*Time*/
#time{
    
    font-size: 5vw;
}

/*Buttons*/
#controlsContainer{
    margin-bottom: 100px;   
}

.control{
    color: white;
    background-color: cadetblue;
    height: 5vw;
    width: 10vw;
    text-align: center;
    padding: 10% 0;
    font-size: 1.8vw;
    cursor: pointer;
}

.control:active{
    background-color: #fff;
    
}

/*laps*/
#laps{
    max-height: 270px;
    overflow-y: scroll;
}

.lap{
    height: 50px;
    border-bottom: 1px solid white;
    margin: 15px;
}

.laptimetitle{
    font-size: 1.5em;
    float: left;
}

.laptime{
    font-size: 2em;
    float: right;
}